body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: URL("../src/img/RegWp.jpg");
    background-size:cover;
}
.container-sm{
    backdrop-filter: blur(6px);
    background-color: rgba(230,230,230,0.5);
    box-shadow: 0px 2px 16px rgba(0,0,0,0.8);
    max-width: 540px;
    padding: 50px;
    border-radius: 20px;
}
.container-sm>h3{
    color: #004;
    font-size: 2rem;
}