body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: URL("../src/img/TutosWp.jpg");
    background-size:cover;
    font-size: 1.8rem;
}
.container-sm{
    backdrop-filter: blur(6px);
    background-color: rgba(230,230,230,0.3);
    box-shadow: 0px 2px 16px rgba(0,0,0,0.8);
    /* width: 540px; */
    padding: 50px;
    border-radius: 20px;
}
.container-sm>h1{
    color: #004;
    font-size: 3rem;
}
.container-sm>.btn-container{
    width: 100%;
    display: flex;
}